<ion-content class="bee-container">
    <ion-toolbar mode="ios" style="--background: rgba(0,0,0,0)">
        <ion-title style="text-align: center">
            <ion-label class="title">
<!--                {{title}}-->
            </ion-label>
        </ion-title>

        <ion-buttons slot="end" style="font-size: 30px;" (click)="close()">
            <ion-icon name="close"></ion-icon>
        </ion-buttons>
    </ion-toolbar>

    <img class="qrcode" *ngIf="type === 1" src="../../../assets/image/qun.jpg">
    <img class="qrcode" *ngIf="type === 2" src="../../../assets/image/weidian.png">
</ion-content>
