<ion-header translucent>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back" *ngIf="back !== undefined" [defaultHref]="back ? back : '/'"></ion-back-button>
        </ion-buttons>

        <ion-title style="text-align: center">
            鄂青博快讯
        </ion-title>

        <ion-buttons slot="end">
            <ng-content select="[slot=end]"></ng-content>
        </ion-buttons>
    </ion-toolbar>

    <ng-content></ng-content>
</ion-header>
