<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <bee-icon name="iconshouye" size="25"></bee-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <bee-icon name="iconchenliezhanlan" size="25"></bee-icon>
        </ion-tab-button>

        <ion-tab-button tab="tabMap">
            <bee-icon name="iconbowuguanditu" size="25"></bee-icon>
        </ion-tab-button>

        <ion-tab-button tab="grid">
            <bee-icon name="iconshuziqingtong" size="25"></bee-icon>
        </ion-tab-button>

        <ion-tab-button tab="about">
            <bee-icon name="iconzoujineqingbowuguan" size="25"></bee-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
