<ion-content>
    <div class="app-title">
        <div class="mongol-wrapper">
            <span class="mongol">ᠲᠡᠷᠢᠭᠦᠨ</span>
            <span class="mongol">ᠨᠢᠭᠤᠷ</span>
        </div>
    </div>
    <ion-slides [options]="slideConfig" style="margin-bottom: 8px;" class="home-slides slide-container">
        <ion-slide *ngFor="let item of data; let i = index;" class="slide-wrapper">
            <img [src]="host + item.pic" class="slide-img">
        </ion-slide>
    </ion-slides>

    <ion-refresher (ionRefresh)="doRefresh()">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="bee-tabs">
        <div class="bee-tabs-item" *ngFor="let item  of tabs; let i = index;" (click)="onTabClick(i)">
            <div class="item-icon"><img src="../../../assets/image/{{item.icon}}.png"/></div>
            <div class="item-label">
                <span [innerHTML]="item.label"></span>
            </div>
        </div>
    </div>

    <div class="bee-title">
        <div class="bee-title-left">
            
        </div>
        <div class="bee-title-right">

        </div>
    </div>

    <div class="item-inner title-block">
        <div class="item-title">
            <div class="title-part-left">
                <div class="title-spec"></div>
                <div class="text-wrapper mongol-wrapper">
                    <span class="mongol">ᠰᠣᠨᠢᠨ</span>
                    <span class="mongol">ᠮᠡᠳᠡᠭᠡ</span>
                </div>
            </div>
            
        </div>
        <div class="item-after" (click)="gotoNewsList(1,31)">
            <div class="l-font mongol-wrapper">
                <span class="mongol">ᠡᠷᠳᠠᠮ</span>
                <span class="mongol">ᠰᠢᠠᠵᠢᠯᠠ‍ᠭᠡ</span>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>

    <div class="row news-block">
        <div class="col-30" *ngFor="let item of newsData; let i = index;" (click)="detailChange(item)">
            <div class="news-wrapper">
                <div class="mask-text-box">
                    <div class="mongol-wrapper">
                        <span class="mongol">{{item.title.substring(0,20)}}</span>
                    </div>
                </div>
                <img [src]="item.ico ? host + item.ico : ''">
            </div>
        </div>
    </div>

    <div class="item-inner title-block">
        <div class="item-title">
            <div class="title-part-left">
                <div class="title-spec"></div>
                <div class="text-wrapper mongol-wrapper">
                    <span class="mongol">ᠰᠢᠨ᠎ᠡ</span>
                    <span class="mongol">ᠦᠵᠡᠭᠦᠯᠦᠯᠭᠡ</span>
                    <span class="mongol">ᠲᠠᠨᠢᠯᠴᠠᠭᠤᠯᠬᠤ</span>
                </div>
            </div>
            
        </div>
        <div class="item-after" (click)="gotoNewsList(13,29)">
            <div class="l-font mongol-wrapper">
                <span class="mongol">ᠡᠷᠳᠠᠮ</span>
                <span class="mongol">ᠰᠢᠠᠵᠢᠯᠠ‍ᠭᠡ</span>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>

    <ion-slides [options]="slideConfig" style="margin-bottom: 8px;"  class="slide-container">
        <ion-slide *ngFor="let item of slidesData2; let i = index;"  class="slide-wrapper">
            <img [src]="item.ico ? host + item.ico : ''" class="slide-img" (click)="detailChange(item)">
        </ion-slide>
    </ion-slides>

    <div class="item-inner title-block">
        <div class="item-title">
            <div class="title-part-left">
                <div class="title-spec"></div>
                <div class="text-wrapper mongol-wrapper">
                    <span class="mongol">ᠰᠤᠳᠤᠨ</span>
                    <span class="mongol">ᠰᠢᠯᠢᠳᠡᠭ</span>
                    <span class="mongol">ᠬᠠᠳᠠᠭᠠᠯᠠᠯᠲᠠ</span>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row news-block">
        <div class="scrollx-container-wrap">
            <div class="scrollx-container">
                <div class="col-30"  *ngFor="let item of musemList2; let i = index;">
                    <div class="news-wrapper sequre">
                        <div class="mask-text-box">
                            <div class="mongol-wrapper">
                                <span class="mongol">{{item.title.substring(0,20)}}</span>
                            </div>
                        </div>
                        <img [src]="item.ico ? host + item.ico : ''">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <bee-list [data]="list" (onItemClick)="detailChange($event)"></bee-list>
    -->
</ion-content>
