.bee-tabs {
    display: flex;
    justify-content: space-around;

    &-item {
        width: 60px;
        display: flex;
        flex-direction: column;

        .item-icon {
            width: 60px;
            height: 60px;
            background: linear-gradient(180deg,rgba(237,99,100,1) 0%,rgba(148,0,2,1) 100%);
            border-radius: 50%;
        }

        .item-label {
            height: 100px;
            writing-mode: vertical-lr;
            font-family: var(--bee-font-family-amglang);
            font-size: 16px;
            margin-top: 8px;
            display: flex;
            align-items: center;
        }
    }
}
.home-slides {
    margin-top:90px;
}
.news-block {
    padding: 0px 25px;
}
.news-block .news-wrapper {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.news-block .news-wrapper img {
    height: 100%;
}
.news-block .news-wrapper .mask-text-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding: 20px 0px;
}
/*
.slide-img {
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
}
*/

